{% extends 'index.html' %}
{% block main_column %}
    {% load staticfiles %}
    <link href="{% static "cmadvert_files/main0000.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "cmadvert_files/vendor-b.css" %}" rel="stylesheet" type="text/css">
    <div style="position: relative">
        <div id="content" class="fixedDiv userstyle_main_content">
            <table id="MainTable">
                <tr>
                    <td id="MainInfoText">
                        <div id="MainContentTable" class="main">
                            <style type="text/css">
                                #rubricator
                                {
                                    margin-bottom: 0;
                                }
                                a.header_rubric_link_last
                                {
                                    color: #006699;
                                    text-decoration: underline;
                                }
                                a.header_rubric_link_last:hover
                                {
                                    color: #0099CC;
                                }
                                #gallery
                                {
                                    margin: 15px 20px 18px 17px;
                                }
                                div#gallery-content
                                {
                                    margin-top: 3px;
                                    text-align: center;
                                }
                                div#gallery-desc
                                {
                                    padding: 5px 10px 0 83px;
                                }
                                .flexslider:hover .flex-prev
                                {
                                    left: 5px !important;
                                }
                                .flexslider:hover .flex-next
                                {
                                    right: 5px !important;
                                }
                                a.toggle_map_link
                                {
                                    background: none;
                                    padding-right: 0;
                                }
                                .userstyle_share_icons, .userstyle_share_icons a
                                {
                                    margin-right: 8px;
                                }
                            </style>
                            <table class="full-an-header">
                                <tr>
                                    <td>
                                        <h1>{{ name }}</h1>
                                    </td>
                                    <td>
                                        <table>
                                            <tr class="fullAn-price">
                                                <td>
                                                    <div class>
                                                        {{ price }} руб.
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <div class="fullAn-and-contacts">
                                <div class="full-an-info">
                                    <div class="fullAn">
                                        <div id="gallery">
                                            <table style="border-spacing: 0;">
                                                <tr>
                                                    <td>
                                                        <div id="gallery-thumbs">
                                                            <ul>
                                                                <li id="f_a_image_2023491" data-index="0">
                                                                       <a class="image selected userstyle_gallery_thumbs_link userstyle_gallery_thumbs_link_selected">
                                                                <img class="userstyle_gallery_thumbs_img" src="{{ image }}" width="90%" alt="{{ name }}">
                                                                </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div id="gallery-content">
                                                            <img class="userstyle_gallery_img" src="{{ image }}" alt="{{ name }}" width="90%" height="90%">
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#gallery-thumbs a.image, a.text, a.video, a.audio').on('click', function (e) {
                                                                        e.preventDefault();
                                                                    });
                                                                });
                                                            </script>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div id="gallery-desc"></div>
                                        </div>
                                        <div class="location-block">
                                            <div class="location">
                                                <div class="an_property_generic_list">Расположение:</div>
                                                <div class="an_property_value">
                                                    {{ address }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="properties-block">
                                            <table style="border-spacing: 0; width: auto;">
                                                <td class="an_property_generic_full_td">Цена:&nbsp;</td>
                                                <td style="padding-right: 30px;">{{ price }} руб.</td>
                                                <td colspan="2"></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="view-an">
                                            {{ text }}
                                        </div>
                                        <div style="margin-left: 20px; margin-bottom: 20px;">
                                            {{ date }}
                                        </div>
                                    </div>
                                </div>

                                <div id="send_to_author">
                                    <div class="send-to-author-box">
                                        <div class="send_to_author_block">
                                            <div>
                                                <span style="color: gray;">Номер телефона:</span>
                                            </div>
                                            <div class="contacts">
                                                <div class="an-contacts">
                                                    <div class="contact">
                                                        <div class="contact-text">
                                                            {% if auth %}
                                                            {{ phone }}
                                                            {% else %}
                                                            You must be logged in
                                                            {% endif %}
                                                        </div>
                                                        <span class="comment"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% if auth %}
                                        <div id="claimBlock" class="send-to-author-link">
                                            <form id="my_form" action="abuse/" method="post">
                                             <span class="tab tab-abuse"><a href="javascript:{}" onclick="document.getElementById('my_form').submit();"
                                                                            class="icon-link pseudo-link" rel="nofollow">
                                                 <i class="i i-alert-blue"></i>&nbsp;<span>Пожаловаться</span></a>
                                             </span>
                                             </form>

                                        </div>
                                        {% endif %}


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}