{% extends 'index.html' %}
{% block main_column %}
    {% for adv in advert_list %}
        <!--single advert-->
        <div class="item item_table clearfix j-catalog-item-enum c-b-0" id="i457724520" data-type="1">
            <div class="b-photo">
                <a class="photo-wrapper" href="{% url 'Advert.id' catname adv.id %}" title="{{ adv.title }}">
                    <img src="{{ adv.image }}" class="photo-count-show" width="90%" alt="{{ adv.title }}">
                </a>
            </div>
            <div class="description">
                <h3 class="title"><a href="{% url 'Advert.id' catname adv.id %}" title="{{ adv.title }}">{{ adv.title }}</a> </h3>
                <div class="about">
                    {{ adv.price }} руб.
                </div>
                <div class="data">
                    <div class="date">
                        {{ adv.date }}

                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
