<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table border="1" style="color:black" align="left">
    <tr>
    <td><a href="{% url 'Registration' %}"> Registration </a></td>
    <td><a href="{% url 'Login' %}"> Login  </a></td>
    <td><a href="{% url 'Logout' %}"> Logout </a></td>
    <td><a href="admin/"> Admin  </a> <br></td>
    </tr>
    </table>
<br><br>
{% if all_categories %}
    <table border="1" style="color:black" align="left">
    {% for cat in all_categories %}
        <tr><td><a href="{% url 'Category.name' cat.name %}">{{ cat.name }}</a></td></tr>
    {% endfor %}

    </table>
{% else %}
    <p>No categories are available.</p>
 {% endif %}

</body>
</html>