<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <title>Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static "main_files/bb60b15e.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main_files/f094029a.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main_files/7cdd8ecc.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main_files/4183c2ef.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main_files/1291242a.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main_files/0285a80a.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main_files/05f03db7.css"%}">
    <script>var DC_BackgroundImageUrl = "", DC_BackgroundImageIndex = 0; DC_startBackgroundImage = function () { var e = parent.document.all ? !0 : !1; document.addEventListener && 0 == e ? parent.document.addEventListener("click", DC_callback, !1) : attachEvent("onclick", DC_callback), e && (parent.document.onmousedown = DC_callback) }, DC_callback = function (e) { var n = e || window.event, a = parent.document.all ? !0 : !1, t = parent.document.body.clientWidth; a ? (tempX = n.clientX + document.body.scrollLeft, tempY = n.clientY + document.body.scrollTop) : (tempX = e.pageX, tempY = e.pageY); var c = t / 2 - 500, d = t / 2 + 500; c > tempX || tempX > d ? 1 == DC_BackgroundImageIndex ? DC_BackgroundImageIndex = 0 : DC_BackgroundImageUrl.indexOf("http") >= 0 && (myWindow = window.open(DC_BackgroundImageUrl, "")) : DC_BackgroundImageIndex = 1 };</script>
</head>
<body>
<div class="b-header">
    <div class="header-service">
        <div class="header-service__inner clearfix">
            <div class="header__profile ">
                <div class="header__profile-enter">
                    {% if not auth %}
                        <a class="header__profile-enter__link " href="{% url 'Registration' %}">
                            <i class="i i-profile"></i><span class="fader">Register</span> </a>
                        <a class="header__profile-enter__link " href="{% url 'Login' %}">
                            <i class="i i-profile"></i><span class="fader">Login</span> </a>
                    {% else %}
                        <a class="header__profile-enter__link " href="{% url 'Logout' %}">
                            <i class="i i-profile"></i><span class="fader">{{ username }} : Logout</span> </a>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

    <div class="header-basic j-header-2">
        <div class="header-basic__inner clearfix">
            <div class="header__logo">
                   <a href="{% url 'Main' %}" <span class="b-logo"><span class="b-logo__img"></span>
                    </span> </a>
            </div>
            {% if auth %}
            <div class="header__add-item">
                <a href="{% url 'Add' %}" class="btn-plain btn-plain_blue">Make an advert</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<div class="j-page layout-internal col-12 j-autosuggest__search-list-container">
    <div class="l-content">
        <div class="clearfix">
            <div class="catalog catalog_table">
                <div class="catalog-list catalog-list_table clearfix">
                    <div class="j-catalog_before-ads">
                        {% block main_column %}
                        <hr>
                            {% for cat in all_categories %}
                                <!--single advert-->
                                <div class="item item_table clearfix j-catalog-item-enum c-b-0" id="i457724520" data-type="1">

                                    <div class="b-photo">
                                        <a class="photo-wrapper" href="{% url 'Category.name' cat.name %}" title="{{ cat.name }}">
                                            <img src="{{ cat.image }}" class="photo-count-show" width="90%" alt="{{ cat.name }}">
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h3 class="title"><a href="{% url 'Category.name' cat.name %}" title="{{ cat.name }}">{{ cat.name }}</a> </h3>

                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>