<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="{% url 'process_register' %}" method="post">
    {% csrf_token %}
<p><label for="id_login">Login:</label><br>
    <input id="id_login" type="text" name="login" maxlength="30" /></p>
</tr>
<p><label for="id_password">Password:</label><br>
    <input type="password" name="password" id="id_password" maxlength="30" /></p>
<p><label for="id_description">Email:</label><br>
    <input type="id_email" name="email" id="id_email" maxlength="1000" /></p>
<input type="submit" value="Register!" />
</form>
</body>
</html>