<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/contune/" method="post">
<p><label for="id_login">Login:</label><br>
    <input id="id_login" type="text" name="login" maxlength="30" /></p>
</tr>
<p><label for="id_password">Password:</label><br>
    <input type="text" name="password" id="id_password" maxlength="30" /></p>
<p><label for="id_description">Email:</label><br>
    <input type="email" name="description" id="id_description" maxlength="1000" /></p>
<input type="submit" value="Register!" />
</form>
</body>
</html>